.navbar {
  background-color: var(--navcolor);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5% 0 5%;

  a {
    margin-right: 2rem;
  }

  .logo {
    display: flex;
    align-items: center;
  }
}
