@import "../../style/mixins.scss";

.defaultTutorial {
  @include tutorials();
  // box-shadow: var(--shadow-normal); // normal
  box-shadow: var(--shadow-hover);
  color: var(--pcolor);
  p {
    padding-bottom: 1.6rem;
  }
}

.defaultTutorial:hover {
  // box-shadow: var(--shadow-hover);
}
.defaultTutorial:active {
  box-shadow: var(--shadow-active);
}

.defaultTutorial {
  img {
    transition: transform 0.2s ease;
    &:hover {
      filter: brightness(85%);
      // transform: scale(1.01);
    }
  }
}
