@import "../../style/mixins.scss";

.defaultTutorial {
  @include tutorials();
  box-shadow: var(--shadow-normal); // normal
  p {
    padding-bottom: 1.6rem;
  }
}

.defaultTutorial:hover {
  box-shadow: var(--shadow-hover);
}
.defaultTutorial:active {
  box-shadow: var(--shadow-active);
}
