//
@import "../../style/mixins.scss";

body {
  background-color: var(--main-back-color);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .main {
    text-align: center;
    padding: 1rem;
  }

  .tutorials {
    @include tutsort();
  }
  .myTutorials {
    @include tutsort();
  }
}
