//
@import "../../style/mixins.scss";

body {
  background-color: var(--main-back-color);
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 0.5;

  .main {
    text-align: center;
    // padding-right: 0.5;

    .hero-section {
      height: calc(100vh - var(--nav-logo-hight));
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .hero-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex: 1 0 30%;
        padding-bottom: 3rem;
        .hero {
          height: 22rem;
          padding: 0rem 1rem 0rem 1rem;
          margin: 0 2rem 0 2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .main-title {
            font-size: 2.1rem;
            text-shadow: 0px 1px 2px #bfd9e0;
          }
          .intro-section {
            padding-top: 1.9rem;
            h2 {
              font-size: 2.1rem;
              color: var(--navcolor);
              text-shadow: 0px 1px 1px #5d6266;
            }
            .button-arrow {
              margin-top: 2rem;
              cursor: pointer;
              &:hover {
                filter: brightness(90%) saturate(120%);
              }
            }
          }
        }
        .learn {
          height: 20rem;
          margin: 0 2rem 3rem 1rem;
        }
      }
    }

    button {
      background-color: var(--navcolor);
      border: none;
      border-radius: 5px;
      padding: 0.1rem 0.2rem 0.1rem 0.2rem;
      color: var(--h1color);

      &:hover {
        font-weight: bold;
        padding: 0.1rem 0.18rem 0.1rem 0.18rem;
        background-color: var(--edit-button);
        color: var(--text-color-hover);
      }
    }
  }

  .tutorials {
    @include tutsort();
  }
  .myTutorials {
    @include tutsort();
  }

  button.edit {
    @include editDelBtn($margin: 1.5rem, $color: var(--edit-button));
    &:hover {
      font-weight: 500;
      padding-right: 0.48rem;
      background-color: darken(#92d594, 5%);
    }
  }
  button.delete {
    @include editDelBtn($margin: 0.5rem, $color: var(--delete-btn));
    &:hover {
      font-weight: 500;
      padding-left: 0.48rem;
      background-color: darken(#ef5350, 5%);
    }
  }

  button.add {
    transform: translateX(50vw) translateX(-55%);
    @include addBtn($margin: 1rem, $color: var(--navcolor));
    box-shadow: var(--shadow-normal);
    &:hover {
      box-shadow: var(--shadow-hover);
      font-weight: 500;
      font-size: 1.09rem;
      background-color: var(--add-button);
    }
    &:active {
      box-shadow: var(--shadow-active);
    }
  }
}
