.home {
  justify-content: flex-start;

  .modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 10000;

    //****************************************
    // background blur effect
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      -webkit-backdrop-filter: blur(5px);
      background-color: var(--back-blur-light);
      backdrop-filter: blur(5px);
    }

    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background-color: var(--back-blur-dark);
    }
    //****************************************
    width: 100%;
    height: 100%;
    .modal-position {
      align-content: center;
      padding-top: 11vh;
      .the-modal-form {
        box-shadow: 1px 1px 5px 3px var(--shadow-tut);
        border-radius: 5px;
        .title {
          justify-content: center;
          color: var(--delete-btn);
          .clear-btn:hover {
            background-color: var(--edit-button);
          }
        }
      }
    }
  }
}
