div {
  justify-content: flex-start;
  .logreg {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    z-index: 10000;

    //****************************************
    // background blur effect
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
      -webkit-backdrop-filter: blur(10px);
      background-color: var(--back-blur-light);
      backdrop-filter: blur(10px);
    }

    /* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background-color: var(--back-blur-light);
    }
    //****************************************
    width: 100%;
    height: 100%;
    .modal-position-reg {
      align-content: center;
      padding-bottom: 30vh;
      .content {
        box-shadow: 1px 1px 5px 3px var(--shadow-tut);
        border-radius: 5px;
        div h2 {
          justify-content: center;
        }
        form {
          margin-top: 1rem;
        }
        .title {
          color: var(--delete-btn);
          margin-top: 1rem;
        }
      }
    }
  }
}
