@import "../../style/mixins.scss";

.mytutorial {
  @include tutorials();
  box-shadow: var(--shadow-normal); // normal
}

.mytutorial:hover {
  box-shadow: var(--shadow-hover);
}
.mytutorial:active {
  box-shadow: var(--shadow-active);
}

.img-link {
  img {
    transition: transform 0.2s ease;
    &:hover {
      filter: brightness(105%);
      transform: scale(1.01);
    }
  }
}
