@import "./mixins.scss";

section {
  &.logreg {
    @include formSection();
    form button:hover {
      background-color: darken(#92d594, 5%);
    }
    form button:active {
      box-shadow: var(--shadow-active);
    }
  }
  &.editForm {
    @include formSection();
    textarea {
      border: none;
      border-radius: 5px;
      resize: none;
      background-color: var(--form-input-color);
      margin: 0.2rem 0rem 1.1rem 0rem;
    }

    form button:hover {
      background-color: darken(#92d594, 5%);
    }
    form button:active {
      box-shadow: var(--shadow-active);
    }
  }
}
