@mixin tutorials() {
  img {
    width: 25rem;
    height: 16.625rem;
    margin: 1rem 1rem 1rem 1rem;
    object-fit: cover;
    @media screen and (max-width: 768px) {
      width: 25rem;
      height: 16.625rem;
    }

    @media only screen and (max-width: 600px) {
      width: 20rem;
      max-width: 80vw;
    }
  }
  text-align: center;
  margin: 1rem 1rem 1rem 1rem;
  background-color: var(--tut-frame);

  .tutTextInput {
    display: flex;
    flex-direction: column;
    h2 {
      font-size: 0.9rem;
      font-weight: 500;
    }
    h3 {
      font-size: 1.1rem;
      font-weight: 600;
    }
    p {
      font-size: 1rem;
      font-weight: 500;
    }
  }
  @media only screen and (max-width: 600px) {
    h3 {
      font-size: 1.1rem;
      font-weight: 600;
    }
    p {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }

  border-radius: 5px;
}

@mixin tutsort {
  padding: 0rem 3rem 1rem 3rem;
  @media only screen and (max-width: 600px) {
    padding: 0rem 0.5rem 0.5rem 0.5rem;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1 0 21%;
}

@mixin editDelBtn($color) {
  transform: translate(-9rem, -3.1rem);
  // @media screen and (max-width: 1200px) {
  //   transform: translate(-9rem, -3.1rem);
  // }
  @media screen and (max-width: 768px) {
    transform: translate(-9rem, -3.1rem);
  }
  @media screen and (max-width: 600px) {
    transform: translate(-6.5rem, -3.1rem);
  }
  @media screen and (max-width: 388px) {
    transform: translate(0, -3.1rem);
  }
  // margin-left: 1.4rem;
  background-color: $color;
  border: none;
  border-radius: 5px;
  padding: 0.2rem 0.5rem;
}

@mixin addBtn($margin, $color) {
  width: fit-content;
  background-color: $color;
  margin-top: $margin;
  border: none;
  font-size: 1.1rem;
  color: #494d50;
  border-radius: 5px;
  font-weight: 500;
  padding: 0.4rem 0.8rem;
  :hover {
    color: #3a3d40;
  }
}
@mixin menu-btns($color) {
  background-color: $color;
  border: none;
  border-radius: 5px;
  padding: 0.2rem 0rem 0.2rem 0rem;
}

@mixin formSection() {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--form-back-color);
    border-radius: 5px;

    h2 {
      display: flex;
      color: var(--h1color);
      align-self: center;
      margin-top: 2rem;
    }

    form {
      width: 25rem;
      display: flex;
      flex-direction: column;
      align-self: end;
      margin: 2rem;
      font-size: 1rem;
      font-weight: 500;
      color: var(--pcolor);
      @media screen and (max-width: 600px) {
        width: 80vw;
        max-width: 25rem;
      }
      label {
        span {
          color: var(--delete-btn);
          font-size: 0.9rem;
        }
      }
      input {
        background-color: var(--form-input-color);
        margin: 0.2rem 0rem 1.5rem 0rem;
        padding: 0.2rem 0rem 0.2rem 0rem;
        border-radius: 5px;
        border: none;
      }
      textarea:focus,
      input:focus {
        outline-color: var(--form-outline-color);
      }

      button {
        background-color: var(--submit-button);
        margin-bottom: 0.9rem;
        margin-top: 0.9rem;
        padding: 0.2rem 0rem 0.2rem 0rem;
        border-radius: 5px;
        border: none;
        box-shadow: 1px 1px 10px 1px var(--shadow-tut); // normal
      }
      p {
        text-align: center;
      }
      p:not(:last-child) {
        margin-bottom: 0.5rem;
      }
      a {
        background-color: var(--navcolor);
        border: none;
        border-radius: 5px;
        padding: 0.2rem 0.3rem 0.2rem 0.3rem;
        &:hover {
          font-weight: bold;
        }
      }
    }
  }
}
