@mixin tutorials() {
  img {
    width: 400px;
    height: 266px;
    margin: 1rem 2rem 1rem 2rem;
    object-fit: cover;
  }
  text-align: center;
}

@mixin tutsort {
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  background-color: teal;
  justify-content: space-evenly;
  flex: 1 0 21%;
}
