:root {
  --main-back-color: #c4eaf5;
  --hover-nav-text-color: #c4eaf5;
  --form-back-color: #bce0eb;
  --form-input-color: #daf1f7;
  --form-outline-color: #60c5e1;
  --form-button-color: #4caf50;
  --tut-back-color: #c2ced1;
  --h1color: #494d50;
  --h23color: #494d50;
  --pcolor: #494d50;
  --text-color-hover: #3a3d40;
  --navcolor: #60c5e1;
  --footer: #60c5e1;
  --add-button: #92d594;
  // --add-button: #d9f7ff;
  --submit-button: #60c5e1;
  // --submit-button: #92d594;
  --edit-button: #92d594;
  --delete-btn: #ef5350;
  --tut-frame: #d9f7ff;
  --shadow-tut: #afd2db;
  --shadow-tut-dark: #9accdb;
  --back-blur-light: rgba(188, 224, 235, 0.438);
  --back-blur-dark: rgba(151, 190, 202, 0.678);
  --nav-logo-hight: 2.8359375rem;

  //
  // box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
  --shadow-normal: 1px 1px 10px 1px var(--shadow-tut);
  --shadow-hover: 1px 1px 10px 5px var(--shadow-tut);
  --shadow-active: 1px 1px 5px 5px var(--shadow-tut-dark);
}

h1 {
  color: var(--h1color);
}

h2 {
  color: var(--h23color);
}
p {
  color: var(--pcolor);
}
