:root {
  --main-back-color: #c4eaf5;
  --h1color: #26292c;
  --h23color: #4f555a;
  --pcolor: #676f75;
  --navcolor: #37a2c0;
  --footer: #91acb3;
}

h1 {
  color: var(--h1color);
}

h2 {
  color: var(--h23color);
}
p {
  color: var(--pcolor);
}
